{% extends "base.html" %} 
{% load static %}

{% block title %} 
landing Page
{% endblock %} 

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post.css" %}" />
<link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}



<section id="welcome">
  <header>
    <img src="{% static "blog/images/landing.jpeg" %}" alt="snepe" />
    <h2>Streams of consiousness </h2>
  </header>
  <p>Hi, I am Pitso i'm just a Dude!</p>
</section>

<section id="latest-posts">
  <h2>Mind's abyss.</h2>

   {% for post in posts  %}
{% include "blog/includes/posts.html" %}

{% endfor %} 

</section>

<section id="about">
  <h2>A bit about me </h2>
  <p>
    I am a v8 addicted mma loving movie nerding programmer
  </p>
  <p>
    My goal is to keep on growing as a developer 
  </p>
</section>
{% endblock %}
